body {
    margin: 0;
    background-color: #eceff1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-bar {
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-area {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
}

.profile-surname {
    font-size: 14px;
}

.profile-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
}

.side-menu {
    width: 300px;
    height: 100%;
    background-color: #1c1c1c;
    color: white;
    position: fixed;
    top: 0;
    right: -300px;
    transition: 0.3s;
    padding-top: 20px;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.side-menu .profile-section {
    text-align: center;
    padding: 20px 0;
}

.side-menu .profile-photo {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
}

.side-menu .profile-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.side-menu .profile-surname {
    font-size: 14px;
}

.side-menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: #575757;
}

.side-menu .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}

.open-menu {
    right: 0;
}

.scrollable-container {
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.person-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
}

.person-photo {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
}

.person-details {
    flex-grow: 1;
}

.person-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}