<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/edit.css">
    <title>Edit User</title>
</head>
<body>
<a th:href="@{/people/person(id=${person.getId()})}" class="back-button"></a>
<div class="form-container">
    <form th:method="post" th:action="@{/people/{id}/edited(id=${person.getId()})}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${person.getName()}" required>

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" th:value="${person.getSurname()}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${person.getEmail()}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>
