<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>

<div class="error-message" th:if="${error}">
    <p>Не правильний пароль або email.</p>
</div>

<div class="form-container">
    <form method="POST" action="/people/login">
        <label for="email">Email</label>
        <input name="email" type="email" id="email" required>

        <label for="password">Password</label>
        <input name="password" type="password" id="password" required>

        <input type="submit" value="Submit">
    </form>
    <div class="register-container">
        <p>Don't have an account?</p>
        <a href="/people/new">Register here</a>
    </div>
</div>

</body>
</html>
