<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/one.css">
    <title>User Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="error-message" th:if="${error}">
    <p>Email already exists!</p>
</div>

<body>
<a th:href="@{/people/{id}(id=${id})}" class="back-button"></a>
<div class="passport-container">
    <div class="passport-photo">
        <img th:src="${person.getPhoto()}" alt="Passport Photo" style="width: 150px; height: 150px">
    </div>

    <div class="passport-info">
        <p><span>ID:</span> <span th:text="${person.getId()}">123456</span></p>
        <p><span>Name:</span> <span th:text="${person.getName()}">John</span></p>
        <p><span>Surname:</span> <span th:text="${person.getSurname()}">Doe</span></p>
        <p><span>Email:</span> <span th:text="${person.getEmail()}">john.doe@example.com</span></p>
    </div>

    <div class="action-buttons">
        <a class="action-button edit-button" th:href="@{/people/{id}/edit(id=${person.getId()})}">
            <i class="fas fa-edit"></i> Edit
        </a>
        <a class="action-button delete-button" th:href="@{/people/{id}/delete(id=${person.getId()})}">
            <i class="fas fa-trash-alt"></i> Delete
        </a>
    </div>
</div>
</body>
</html>